<!DOCTYPE html>
<html lang="en">

<head>
    <title> {% block title %}{% endblock title%}</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href ="{%url 'create_receipt' %}">Create Receipt</a></li>
                <li><a href ="{%url 'create_category' %}">Create Category</a></li>
                <li><a href= "{%url 'create_account' %}">Create Account</a></li>
                {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>

</html>
