{% extends 'base.html' %}

{%block content%}
        <h1>Expense Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for item in category_list %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.receipts.count }}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
{%endblock content%}
